//#76e383
//#49aa51

.table-view .column-header-background {
    -fx-background-color:  #b5d5ca;
}

.table-view .column-header {
    -fx-background-color: #b5d5ca;
	-fx-border-color: #e0a9af;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-background-color: #e0a9af;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color:  #b5d5ca;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #b5d5ca;
}

.table-row-cell: highlighted {
    -fx-background-color: #e0a9af;
}

.table-row-cell: focused {
    -fx-background-color: #e0a9af;
	-fx-border-color: #b5d5ca;
}
